{% extends 'menu.html' %}
{% load staticfiles %}
{% block container %}
    <div class="form-bolao">

<h1>Convidar</h1>
<br>
    <form  id="bolao-form">
        {% csrf_token %}
        <h3>Titulo do Bolão</h3>
        <h1 class="label label-success">Convites enviados com sucesso</h1>
        <h3 class="label label-danger">Deu erro no envio no convite</h3>
        <br/><br/>
        <input type="text" id="convites" name="id_time1" value="" placeholder="E-mail dos conidados" class="form-control">
        <a href="#" class="btn btn-lg btn-primary js_save_bolao">Convidar</a>
    </form>

    </div>
{% endblock %}