{% extends 'menu.html' %}

{% block container %}
    <h1 class="text-center">{{ titulo }}</h1>

    <div id="bolao-render"></div>
    <br>
    <div class="col-lg-12 text-center placar">
        <div class="col-lg-4">
            <h4>{{ time_1 }}</h4>
        </div>
        <div class="col-lg-1">
            <h4>{{ resultado_time_1 }}</h4>
        </div>
        <div class="col-lg-1">
            <h2>x</h2>
        </div>
        <div class="col-lg-1">
            <h4>{{ resultado_time_2 }}</h4>
        </div>
        <div class="col-lg-4">
            <h4>{{ time_2 }}</h4>
        </div>
    </div>
    <div class="col-lg-12">
      <h4>Apostadores:</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Apostador</th>
            <th>{{ time_1 }}</th>
            <th>{{ time_2 }}</th>
            <th>Ganhou?</th>
          </tr>
        </thead>
        <tbody>
        {% for aposta in apostas %}
          <tr>
            <td>{{ aposta.nome_usuario }}</td>
            <td>{{ aposta.valor_time_1}}</td>
            <td>{{ aposta.valor_time_2 }}</td>
            <td>{{ aposta.status }}</td>
          </tr>
        {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
</script>
{% endblock %}