{% extends 'menu.html' %}
{% load staticfiles %}
{% block container %}
    <div class="form-bolao">

<h1>Criar Usuario</h1>
<br>
    <form  id="bolao-form">
        {% csrf_token %}
        <input type="text" id="id_titulo" name="id_titulo" value="" placeholder="login" class="form-control">
        <input type="password" id="id_time1" name="id_time1" value="" placeholder="senha" class="form-control">
        <a href="#" class="btn btn-lg btn-primary js_save_bolao">Cadastrar</a>
    </form>

    </div>
{% endblock %}