{% extends 'menu.html' %}
{% load staticfiles %}
{% block container %}
    <div class="jumbotron">
        <h1>Bolao! <i><span class="lead">Venha disputar com seus amigos!</span></i></h1>

        <p class="lead">Crie um bolão, convide com seus amigos e veja quem é o vencedor...</p>
        <p><a class="btn btn-lg btn-success" href="#">Get started today <span class="glyphicon glyphicon-chevron-right"></span></i></a></p>
    </div>

    <div class="full-container">
        <div class="row text-center container" >
            <div class="col-lg-4">
                <h3>Crie seus bolões!</h3>
                <p>Crie bolões para competir com seus amigos. Quem sabe mais?</p>
                <img class="img-circle" src="{% static 'img/foto3.JPG' %}" style="border: solid thin black;height: 250px;">  
            </div>
            <div class="col-lg-4">
                <h3>Dispute...</h3>
                <p>Desafie seus amigos. Alguém tem que ganhar!</p>
                <img class="img-circle" src="{% static 'img/foto2.JPG' %}" style="border: solid thin black;height: 250px;"> 
            </div>
            <div class="col-lg-4">
                <h3>Vença!</h3>
                <p>Acerte o bolão e você será o rei do bolão! </p><br>
                <img class="img-circle" src="{% static 'img/foto1.JPG' %}" style="border: solid thin black;height: 250px;"> 
            </div>
        </div>
    </div>
{% endblock %}