
<div class="jumbotron">
    <h1>Zezaz! <i><span class="lead">improving your github experience!</span></i></h1>

    <p class="lead">Acompanhe seus amigos, colabore em projetos e siga projetos que irá gostar!</p>
    <p><a class="btn btn-lg btn-success" href="#">Get started today <span class="glyphicon glyphicon-chevron-right"></span></i></a></p>
</div>

<div class="full-container">
    <div class="container">
        <div class="row text-center" >
            <div class="col-lg-4">
                <h3>Acompanhe</h3>
                <p>Descubra novos amigos que você conhece mas ainda não segue.</p>
                <p class="text-right"><a class="btn btn-sm btn-primary" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <h3>Colabore</h3>
                <p>Ajude em projetos que seus amigos também participaram</p>
                <p class="text-right"><a class="btn btn-sm btn-primary" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <h3>Siga</h3>
                <p>Descubra novos projetos que possivelmente você irá gostar</p>
                <p class="text-right"><a class="btn btn-sm btn-primary" href="#">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</div>