{% extends 'base.html' %}
{% block container %}
<div class="jumbotron">
    <h1>Bolao! <i><span class="lead">Venha disputar com seus amigos!</span></i></h1>

    <p class="lead">Crie um bolão, convide com seus amigos e veja quem é o vencedor...</p>
    <p><a class="btn btn-lg btn-success" href="#">Get started today <span class="glyphicon glyphicon-chevron-right"></span></i></a></p>
</div>

<div class="full-container">
    <div class="container">
        <div class="row text-center" >
            <div class="col-lg-4">
                <h3>Crie seus bolões!</h3>
                <p>Descubra novos amigos que você conhece mas ainda não segue.</p>
                <p class="text-right"><a class="btn btn-sm btn-primary" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <h3>Dispute com seus amigos!</h3>
                <p>Ajude em projetos que seus amigos também participaram</p>
                <p class="text-right"><a class="btn btn-sm btn-primary" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <h3>Vença seus amigos!</h3>
                <p>Descubra novos projetos que possivelmente você irá gostar</p>
                <p class="text-right"><a class="btn btn-sm btn-primary" href="#">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}