{% extends 'base.html' %}
{% block container %}
<h4>Acompanhe todos os bolões que você participa</h4>
<div class="panel-group" id="accordion">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#bolao-id-1">
          Bolão APIHackDay
        </a>
      </h4>
    </div>
    
    <div id="bolao-id-1" class="panel-collapse collapse in">
      <div class="panel-body">
            <div class="col-lg-4">
                <h4>Brasil</h4>
            </div>
            <div class="col-lg-1">
                <h4>3</h4>
            </div>
            <div class="col-lg-1">
                <h2>x</h2>
            </div>
            <div class="col-lg-1">
                <h4>1</h4>
            </div>
            <div class="col-lg-4">
            <h4>Argentina</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#bolao-id-2">
          Bolão APIHackDay
        </a>
      </h4>
    </div>
    <div id="bolao-id-2" class="panel-collapse collapse">
      <div class="panel-body">
            <div class="col-lg-4">
                <h4>Brasil</h4>
            </div>
            <div class="col-lg-1">
                <h4>3</h4>
            </div>
            <div class="col-lg-1">
                <h2>x</h2>
            </div>
            <div class="col-lg-1">
                <h4>1</h4>
            </div>
            <div class="col-lg-4">
            <h4>Argentina</h4>
        </div>
      </div>
    </div>
  </div>

   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#bolao-id-3">
          Bolão APIHackDay
        </a>
      </h4>
    </div>
    <div id="bolao-id-3" class="panel-collapse collapse">
      <div class="panel-body">
            <div class="col-lg-4">
                <h4>Brasil</h4>
            </div>
            <div class="col-lg-1">
                <h4>3</h4>
            </div>
            <div class="col-lg-1">
                <h2>x</h2>
            </div>
            <div class="col-lg-1">
                <h4>1</h4>
            </div>
            <div class="col-lg-4">
            <h4>Argentina</h4>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}