{% extends 'menu.html' %}
{% block container %}

    <div id="listar-render"></div>
<script type="text/template" id="listar-template">
    <div class="col-lg-12">
        <div class="col-lg-4">
            <div id="lista-bolao-render">
                <ul class="nav nav-pills nav-stacked">
                  <li class="active">
                    <a href="#">
                      <span class="badge pull-right">01 participante</span>
                      Nome Bolao #1
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="badge pull-right">08 participantes</span>
                      Nome Bolao #2
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="badge pull-right">09 participantes</span>
                      Nome Bolao #3
                    </a>
                  </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8">
        Resultado quando clicar aparecerá aqui
        </div>
    </div>
</script>
{% endblock %}