Django==1.5.4
MySQL-python==1.2.4
South==0.8.2
-e git://github.com/omab/django-social-auth.git@a56de6257f6de6cba411496f6e86c3df3c8b577d#egg=django_social_auth-dev
-e git://github.com/sendgrid/sendgrid-python.git#egg=python-sendgrid
django-tastypie==0.10.0
httplib2==0.8
oauth2==1.5.211
oauthlib==0.6.0
python-dateutil==2.1
python-mimeparse==0.1.4
python-openid==2.2.5
python-social-auth==0.1.13
requests==2.0.0
requests-oauthlib==0.3.3
six==1.4.1
wsgiref==0.1.2
