.tooltip {
    display: block;
}

.btn-user-action {
    padding: 5px 5px 5px 5px ;
}

.navbar-fixed-top {
    font-size: 17px;
    background-color: #34495e;
}

body {
    background-color: #eee;
}

.btn-text-black {
    color: #000;
}

.jumbotron {
    background-color: #dedede;
    margin-top: 90px;
}

.full-container {
    right: 0px;
    left: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 275px;
}

.full-container-team-header {
    right: 0px;
    left: 0px;
    background-color: #2C3E50;
    padding-left:20px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #BDC3C7;
}

.full-container-team {
    right: 0px;
    left: 0px;
    margin-top: 3px;
    margin-bottom: 20px;
    background-color: #34495e;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #BDC3C7;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.img-thumb {
    width: 100px;
    height: 100px;
}