{% extends 'home.html' %}

{% block content %}

<div class="wrap">

    <div class="sidebar">
        <div class="collapse-module">
            <h3 class="collapse-header">Alterar senha</h3>
            <div class="collapse-content">
                 <form action="{% url change %}" method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                        <p class="errornote">
                        Favor corrigir os erros abaixo
                        </p>
                    {% endif %}

                    {{ form.old_password.errors }}
                    <input id="id_old_password" type="password" name="old_password" placeholder="Sua senha antiga"/>

                    {{ form.new_password1.errors }}
                    <input id="id_new_password1" type="password" name="new_password1" placeholder="Nova senha"/>

                    {{ form.new_password2.errors }}
                    <input id="id_new_password2" type="password" name="new_password2" placeholder="Confirme sua nova senha"/>

                    <button type="submit" class="ok-btn">Salvar</button>

                    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
                    <b class="clear"></b>
                </form>
            </div>
        </div>
    </div>

{#    <div class="right-content">#}
{#        <table class="table-grid" cellspacing="0" cellpadding="0">#}
{#             <thead>#}
{#                <tr>#}
{#                    <th>Semana</th>#}
{#                    <th>Matching</th>#}
{#                    <th>Verificação</th>#}
{#                </tr>#}
{#             </thead>#}
{#            <tbody>#}
{#                 <tr>#}
{#                    <td>12/04/13 a 17/04/13</td>#}
{#                    <td>2133</td>#}
{#                    <td>654</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>12/04/13 a 17/04/13</td>#}
{#                    <td>2133</td>#}
{#                    <td>654</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>12/04/13 a 17/04/13</td>#}
{#                    <td>2133</td>#}
{#                    <td>654</td>#}
{#                </tr>#}
{#            </tbody>#}
{#        </table>#}
{##}
{#        <b class="clear"></b>#}
{#    </div>#}


</div>

{% endblock %}